* {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.app-body {
  background-image: url('./images/background_pattern.png');

  display: grid;
  grid-template-rows: 0.05fr 1fr;
  grid-template-columns: 0.18fr 0.82fr;
  grid-template-areas:
    'sidebar navbar'
    'sidebar main';

  .navbar {
    grid-area: navbar;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
    border: 2px solid #b8b5ff;
    margin: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .app-body {
    grid-template-columns: 0.05fr 1fr;
  }
}
