.homecontent {
  width: 100%;
  height: 100%;
  position: relative;
  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 20%;
    z-index: 0;
    overflow: hidden;
  }
  .header {
    box-shadow: rgba(145, 119, 119, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    margin: 1rem;
    h2 {
      padding: 1rem;
    }
    color: #51308a;
  }

  .middle {
    .middle-heading {
      padding: 1rem;
    }
    .cards {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .arrow {
        width: 3rem;
        height: 3rem;
      }

      .card {
        font-size: medium;
        flex-basis: 10rem;
        box-shadow: rgba(145, 119, 119, 0.35) 0px 5px 15px;
        border-radius: 0.5rem;
        height: 12rem;
        padding: 0.5rem;
        margin: 0.5rem;

        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .badge {
          width: 2rem;
          height: auto;
          position: absolute;
          top: -15px;
          left: -15px;
        }
        p {
          font-size: smaller;
        }

        .main-image {
          width: 40%;
          height: auto;
        }
      }

      .card:hover {
        background-color: #edeef7;
      }
    }

    box-shadow: rgba(145, 119, 119, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    margin: 1rem;
  }

  .bottom {
    box-shadow: rgba(145, 119, 119, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    height: auto;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    a {
      text-decoration: none;
    }
    .button {
      box-shadow: rgba(145, 119, 119, 0.35) 0px 5px 15px;
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem;

      background-color: #a179c7;
      color: white;
      width: 50%;
      z-index: 2;
      font-size: large;
    }
    .button:hover {
      box-shadow: rgba(145, 119, 119, 0.75) 5px 9px 15px;
      background-color: #9e69d0;
    }
  }
}

@media only screen and (max-width: 550px) {
  .homecontent {
    .background-image {
      left: -50%;
      width: 200%;
      height: auto;
      overflow: hidden;
    }
    .cards {
      .arrow {
        display: none;
      }
    }

    .bottom {
      .button {
        width: 50vw;
      }
    }
  }
}
