.form-container {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 20rem;
  padding: 1rem;
  min-width: 10rem;
  .reportForm {
    display: flex;
    flex-direction: column;

    .position {
      display: flex;
      justify-content: space-between;
      .lat {
        margin-right: 1rem;
      }
      .lon {
        margin-left: 1rem;
      }
    }
    div {
      width: 100%;

      button {
        margin: 1rem;
      }
    }
  }
}
