.areatypeselector {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .radiogroup {
    padding: 0.4rem;
  }

  .checkboxgroup {
    padding: 0.4rem;
  }

  .buffer {
    padding: 0.4rem;
  }
}
